*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf");
}

html{
    font-family: Ubuntu-Medium;
}

header {
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically if needed */
    flex-direction: column;
}

header .logo_Bon{
    margin: 6%;
    position: center;
    
}

header .search{
    width: 2%;
    vertical-align: middle;
}

header nav{
    display: block;
    text-align: center;
    margin-bottom: 5%;
}

header nav a{
    text-decoration: none;
    color:#957554;
    padding: 2%;
    vertical-align: middle;
}

main .Hero_Back{
    background-image: url("../img/images_simple_hotel_website/hero_image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 5%;
    
}

main .Hero_Back .box_text{
  display: flex;
    text-align: center;
    flex-direction: column;
    color: white;
padding: 3%;
}

main .Hero_Back .box_text h1{
    font-size: 5rem;
    margin-bottom: 45px; 
}

main .Hero_Back .box_text p {
    margin-bottom: 45px; 
    font-size: 1.5rem;
}

 .btn{
    padding: 2% 5%;
    background-color: #DFAA5B;
    height: 7%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    margin: auto;
}

main .Hero_Back .box_text .btn p{
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Facilities .Central_text{
    margin: 3%;
    text-align: center;
    color: #957554;
}

.Facilities .Horisont_position{
    display: flex;
    justify-content: space-around;
    margin: 1%;
    padding: 3%;
}

.Facilities img{
    width: 55%;
}

.Facilities .Horisont_position p, .Vert_postion{
    text-align: center;
}

.Facilities{
    margin-bottom: 2%;
}

main .Rooms .Central_text{
    margin: 1%;
    text-align: center;
    color: #957554;
}

.Horisont_position{
    margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 150px;
}

.Horisont_position article {
    height: 45vh;
    flex-basis: 35%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-bottom: 50px;
    text-align: center;
  }

  .Horisont_position article:hover {
    box-shadow: 0 0 5px black;
  }

  .Horisont_position article:nth-of-type(1) {
    background-image: url(../img/images_simple_hotel_website/standard_twin_room.png);
  }
  
  .Horisont_position article:nth-of-type(2) {
    background-image: url(../img/images_simple_hotel_website/standard_room.png);
  }
  
  .Horisont_position article:nth-of-type(3) {
    background-image: url(../img/images_simple_hotel_website/standard_view_room.png);
  }
  
  .Horisont_position article:nth-of-type(4) {
    background-image: url(../img/images_simple_hotel_website/deluxe_room.png);
  }


.Rooms .Horisont_position .Back_Img .centr_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: sticky;
}
.Rooms .Horisont_position .Back_Img h2{
    color: white;

    font-size: 1.4rem;
}

.Rooms .Horisont_position .Back_Img .btn{
    padding: 2% 5%;
    background-color: #DFAA5B;
    height: 10%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    margin: 3% 2% 3% 2%;
    color: white;
    font-size: 0.8rem;
}

.Book_now .Central_text{
    margin: 3%;
    text-align: center;
    color: #957554;
}

.Book_now .btn{
   color: white; 
   height: 2%;
    width: 20%;
    margin-bottom: 4%;
}

footer {
    background-color: rgb(16, 15, 15);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 50px 60px 40px 60px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }

  .contact img {
    height: 40%;
  }

  .contact h5 {
    font-weight: 500;
    font-size: 20px;
  }

  footer a {
    color: white;
    text-decoration: none;
  }

  .contact article {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  #email,
#submit {
  width: 100%;
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

#submit {
    background-color: rgba(223, 170, 91, 1);
    color: white;
  }
  